.climate-corp{
  background: linear-gradient(180deg, #1baeb5 0%, #96d23c 100%);
  padding:1.5rem 1rem 6rem;
  width:100%;
  position:relative;
  .header{
    text-align:center; 
    padding:0 1rem;
    h2{
      color:#FCFCFC;
      text-shadow: 4px 4px 20px #225f63;
      font-size: 2.5rem;
      margin-block-end: 1rem;
  
    }
    h3{
      color:#FCFCFC;
      text-shadow: 4px 4px 20px #225f63;
      margin-block-start:0;
    }
  }
  .button-climate{
    border:  white solid 1px;
    background: white;
    margin-top: 2rem;
    box-shadow: 0 5px 25px rgba(21,21,21,0.15);
    &:hover{
      background:$dark;
      border: $dark solid 1px;
    }
  }
}