.portfolio-title{
  padding: 0 1rem;
  text-align:center;
  max-width:450px;
  margin: 6rem auto 3rem;
  h2{
    margin-top:6rem;
  }
  h1{
    font-weight:700;
    font-size:4rem;
    line-height: .85;
    letter-spacing: -2px;
  }
  h3{
    font-size: 1.25rem;
  }
}

.portfolio-title-intro{
  margin: 9rem auto 3rem;
}

@media #{$device-medium-small} {
  .portfolio-title{
    h1{font-size:2.25rem;}
    margin: 3rem auto 3rem;
  }
  .portfolio-title-intro{
    margin: 6rem auto 3rem;
  }
}

// @media #{$device-medium-small} {
//   .portfolio-title{
//     margin: $gutter*1.5 auto $gutter;
//   }
// }