<div class="row row-no-gutter" style="max-width:560px;margin:auto;">
    <div class="col-xs-12">
        <div class="bio-description">
            <h2>I'm a Product Designer at the Climate Corporation, San Francisco. I was the creative-director and co-founder of a design studio in Brazil. I'm a MBA in Design Strategy. I also draw and make art.</h2>
            {% comment %} <h1 class="weight-400">I help businesses, individuals and communities craft meaningful<br>
                    <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span></h1> {% endcomment %}
            <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" class="button" target="_blank" rel="noopener">view full bio</a>
        </div>
    </div>
</div>