
<div class="row row-no-gutter">
        <div class="col-xs-12 col-md-6 col-no-gutter" style="position:relative;">
                <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" target="_blank" rel="noopener">
                {% comment %} <div style="position:absolute;width:100%;height:100%; mix-blend-mode:multiply;">
    <video class="img-content"style="object-fit: cover;max-height:100%;max-width:100%"  data-poster="/path/to/poster.jpg" width="320" height="240" preload="auto" autoplay muted="muted" playsinline>
            <source data-src="{{ site.cdn }}{{ include.version }}work27.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          </video>
    </div>                     {% endcomment %}
                {% include content/bio/headshot.html%}
                </a>
        </div>
        <div class="col-xs-12 col-md-6 col-no-gutter">
                <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" target="_blank" rel="noopener">
                        <div class="row row-no-gutter middle-xs around-xs sign-wrap" style="height:100%">
                                <div class="col-xs-12 col-no-gutter">
                                        {% include content/bio/signature.html %}
                                </div>
                        </div>
                </a>
        </div>
</div>