{% comment %} <div class="row portfolio-title">
        <div class="col-xs-12">
                <h2>Work, Learn and Have Fun</h2>
                <h3>
                        I'm a Product Designer at the Climate Corporation, San Francisco. 
                        I was the co-founder and creative-director of 2 design studios in Brazil. 
                        I'm a MBA in Design Strategy. 
                        I also draw and make art.
                </h3>
        </div>
</div> {% endcomment %}

<div class="row box">
  <div class="col-xs-12">
    <div class="timeline">
      <div class="step completed">
        <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" target="_blank" rel="noopener">
          <div class="date">Estúdio Berinjela - Brazil</div>
          <div class="title">Creative Direction</div>
        </a>
      </div>

      <div class="step completed">
        <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" target="_blank" rel="noopener">
          <div class="date">California College of the Arts</div>
          <div class="title">MBA Design Strategy</div>
        </a>
      </div>

      <div class="step current" data-notes-count="2">
        <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" target="_blank" rel="noopener">
          <div class="date">Climate.com - SF</div>
          <div class="title">Product Design</div>
        </a>
      </div>
    </div>
  </div>
</div>
