
.section-spacing{
    padding: 6rem 0;
}

$card-transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;

.card-wrap{
    padding: 1rem;
}
.card {
    position: relative;
    background: $light;
    box-shadow: 0 15px 25px $mid-light;
    transition: $card-transition;
    height:100%;

    &:hover {
        transform: translate(0, -20px);
        transition: $card-transition;
        box-shadow: 0 45px 45px $card-shadow;
    }

    a {
        text-decoration: none;
    }

    h3 {
        margin: 1.5rem 0 1rem;
        font-size: 1.5rem;
        overflow-wrap: break-word;
        font-weight:700;
    }

    p {
        margin-bottom: $gutter / $gutter;
    }

    hr {
        margin: calc(#{$gutter} / 2) 0;
    }

    .content {
        padding: calc(#{$gutter} / 2);
    }

    .tag {

        color: $mid;
        margin-right: .5rem;
    }
    small{
        color: $mid;
        text-transform: uppercase;
        font-size: .75rem;
      }

    $grayscale:100%;
    $color:0;
    $no-blur:0;
    $blur:100%;
    $saturation:100%;
    $no-saturation:0;

    // img{
    //     -webkit-filter: grayscale($grayscale) blur($no-blur) saturate($saturation);
    //     filter: grayscale($grayscale) blur($no-blur) saturate($saturation);

    //     -webkit-transition:all 0.3s;
    //     -moz-transition:all 0.3s;
    //     -o-transition:all 0.3s;
    //     transition:all 0.3s;
    // }
    // img:hover{
    //     -webkit-filter: grayscale($color) blur($no-blur) saturate($saturation);
    //     filter: grayscale($color) blur($no-blur) saturate($saturation);
    // }
}

.card-link {
    font-size: 1.15rem;
    line-height: 1.75;
    background: $light;

    .icon-link {
        text-align: right;
        color: $mid;
        bottom: 1rem;
        right: 1rem;
        position: absolute;
    }
}

.card-round{
    border-radius: 10px;
    overflow: hidden;
}


.image-frame {
    width: 100%;
    padding-top: 80%;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
        margin: auto;
        position: absolute;
        top: -100%;
        right: -100%;
        bottom: -100%;
        left: -100%;
    }
}

.truncate {
    flex: 1;

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media #{$device-medium-small} {
    .card{
        h3{
            font-size: 1rem;
        }
    }
    .section-spacing{
        padding: 3rem 0;
    }
}

.floating-wrapper-left{
    margin-right:-20%;
  }

  .floating-wrapper-right{
    margin-left:-20%;
    
  }
  .floating-content{
    padding: 2rem 4rem;
    h2{
    font-weight:500
    }
  }
  .card-special{
    margin-bottom:8rem;
  }
  
  @media only screen and (max-width: 991px) {
  
    .floating-content{
      margin:-3rem auto auto;
      padding:1rem;
    }
    .floating-wrapper-left{
    margin-right:0;
  }

  .floating-wrapper-right{
    margin-left:0;
  }
  }

.card-large{
    a{
        text-decoration: none;
    }
    .button{
        margin: 2rem 0;padding: 1rem 3rem; font-size:1rem;
    }
    p{
        font-size: 1.2rem;
        max-width:380px;
        margin: auto;
    }
    h2{
        font-size:1.5rem;
    }

}

.card-img-shadow{
    box-shadow: 0 15px 25px $mid-2;
    transition: $card-transition;
    &:hover {
      transform: translate(0, -20px);
      transition: $card-transition;
      box-shadow: 0 45px 45px $card-shadow;
  }
  }

@media #{$device-small} {
    .card-large{
        .button{
            display: none;
        }
        h2{
            font-size:1.3rem;
            max-width:75%;
            margin:2rem auto 1rem;
          }
        p{max-width: 70%;}
    }
}

@media (hover: none) and (pointer: coarse) {
    .card {
        transition: none;
    
        &:hover {
            transform: none;
            transition: none;
            box-shadow: 0 15px 25px $mid-light;
        }
    }
}