<div class="floating-images">
                <ul class="floating-images__container">
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400

C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400

C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400

C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400

C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                    <li class="floating-image">
                        <div class="image img-container">
                            <img src="https://via.placeholder.com/400C/O https://placeholder.com/" alt="">
                        </div>
                    </li>
                </ul>
            </div>