

<header class="masthead {{ include.bg_color }}">
    <div class="masthead-{{ include.wrap }} {{ include.text_align }} center-content hero-post-box">
        <a href="#{{ include.anchor }}" class="page-scroll {{ include.txt_color }}">
            <h1 class="title-large {{ include.title_size }}">
                {{ include.title }}
            </h1>
            <h2>
                {{ include.subtitle }}
            </h2>
            {% if include.legend %}
            <h3>
                {{ include.legend }}
            </h3>
            {% endif %}
        </a>
    </div>
    {% if include.scroll_arrow == "true"  %}
        <div class="arrow-wrap"> 
            <a href="#{{ include.anchor }}" class="page-scroll">
                <span id="scroll-arrow">👇</span>
            </a>
        </div>
    {% endif %}
    
</header>