

<header class="row row-no-gutter middle-xs around-xs masthead {{ include.bg_color }}">
    <div class="col-xs-10 col-sm-8 col-lg-6 {{ include.text_align }} hero-post-box">
        <a href="#{{ include.anchor }}" class="page-scroll {{ include.txt_color }} {{ include.txt_align }}">
            <h1 class="jumbo">
                {{ include.title }}
            </h1>
            <h2 class="subtitle weight-300">
                {{ include.subtitle }}
            </h2>
            {% if include.legend %}
            <h3 class="description weight-300">
                {{ include.legend }}
            </h3>
            {% endif %}
        </a>
    </div>
    {% if include.scroll_arrow == "true"  %}
        <div class="arrow-wrap hide-sm"> 
            <a href="#{{ include.anchor }}" class="page-scroll">
                <span id="scroll-arrow">👇</span>
            </a>
        </div>
    {% endif %}
    
</header>