<div id="header" class="nav">
  <div class="container">
    <a href="{{site.url}}/" class="logo" aria-label="Main Page">
        {% include img/svg/d-logo.svg %}
    </a>
    <div id="topnav">
      <ul>
        <li><a {% if page.url == site.url  %} class="active"{% endif %} href="{{site.baseurl}}/">Hello</a></li>
        <li><a href="{{site.baseurl}}/work/" aria-label="Work" {% if page.url contains "work" %}class="active"{% endif %}>Work</a></li>
        {%- comment -%} <li><a href="https://work.diogorusso.com" target="_blank" aria-label="Work" rel="noopener noreferrer">Work</a></li> {%- endcomment -%}
        <li><a href="{{site.baseurl}}/journal/" aria-label="Journal" {% if page.url contains "journal" %}class="active"{% endif %}>Journal</a></li>
        <li><a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" target="_blank" rel="noopener" aria-label="Linkedin">{% include img/svg/social/linkedin-box.svg %}</a></li>

      </ul>
    </div>
    <!-- nav -->
    <input class="menu-btn" type="checkbox" id="menu-btn">
    <label class="menu-icon" for="menu-btn" id="menuButton">
      <span class="navicon">
        <a href="#" > </a>
      </span>
    </label>
  </div>
  <!-- container -->
</div>