<nav class="nav" role="navigation" data-rellax-speed="0" data-rellax-zindex="99">
    <a href="{{site.url}}/" class="logo" aria-label="Main Page">
        {% include img/svg/d-logo.svg %}
    </a>
    <ul>
        <li><a {% if page.title contains "About" %}class="active"{% endif %} href="{{site.baseurl}}/">About</a></li>
        <!-- <li><a {% if page.title contains "Work" %}class="active"{% endif %} href="{{ site.baseurl}}/work">Work</a></li> -->
        <li><a href="{{site.url}}/work" aria-label="Work" {% if site.baseurl contains "work" %}class="active"{% endif %}>Work</a></li>
        <li><a href="{{site.url}}/journal" aria-label="Journal" {% if site.baseurl contains "journal" %}class="active"{% endif %}>Journal</a></li>
        <li><a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" target="_blank" rel="noopener" aria-label="Linkedin">{% include img/svg/social/linkedin-box.svg %}</a></li>
    </ul>
</nav>