<div class="climate-corp">
  <div class="header" style="max-width:600px;margin: 0 auto 3rem; ">
    <h2>Digital Tools for Farmers</h2>
    <h3>
      Innovating at the intersection of agriculture and technology. 
      Product Design at
      <a href="https://www.climate.com" style="color:white" target="_blank">Climate.com</a>
    </h3>
  </div>
  <div class="box">
    <div class="row">
      {% capture img_climate_RX %}
        {{ site.cdn }}{{ include.version }}work/climate/climateRX.jpg
      {% endcapture %}
      {% include components/card/featured.html
        url="https://work.diogorusso.com/data-driven-fertility-fertility-prescriptions"
        image=img_climate_RX
        title="Advanced Variable Rate Seed Prescriptions"
      %}
      {% capture img_climate_SA %}
        {{ site.cdn }}{{ include.version }}work/climate/climateSA.jpg
      {% endcapture %}
      {% include components/card/featured.html
        url="https://work.diogorusso.com/predictive-seed-placement-recommendations"
        image=img_climate_SA
        title="Predictive Seed Placement Recommendations"
      %}
      {% capture img_climate_SYNC %}
        {{ site.cdn }}{{ include.version }}work/climate/climateBR.jpg
      {% endcapture %}
      {% include components/card/featured.html
        url="https://work.diogorusso.com/data-mule-for-large-farming-operations"
        image=img_climate_SYNC
        title="Data Mule for Large Farming Operations"
      %}
    </div>
  </div>
  <div class="more-projects">
    <a href="https://work.diogorusso.com/" class="button button-climate">
      view more projects
    </a> 
  </div>
</div>