<div class="row portfolio-title">
                <div class="col-xs-12">
                        <h2>Work & Play</h2>
                        <h3>
                                I'm a Product Designer at the Climate Corporation, San Francisco. 
                                I was the co-founder and creative-director of 2 design studios in Brazil. 
                                I'm a MBA in Design Strategy. 
                                I also draw and make art.
                        </h3>
                </div>
        </div>

<div class="projects-climate">     
        {% comment %} <div class="row portfolio-title">
                <div class="col-xs-12">
                <h2>Digital Tools for Farmers</h2>
                <h3>2016 - Now ∙ Product Designer at <a href="climate.com">Climate.com</a></h3>
                </div>
        </div> {% endcomment %}
       
        {% capture img_coca %}
         {{ site.cdn }}{{ include.version }}work/featured/sa_3.jpg
        {% endcapture %}
        
        {% include components/card/large.html
                type="slider"
                img=img_coca
                url="https://work.diogorusso.com/foodtopia" 
                title="Predictive Seed Recommendations"
                categories="UX + Product Design"
        %}

        {% capture img_foodtopia %}
                {{ site.cdn }}{{ include.version }}work/featured/rx_2.jpg
        {% endcapture %}
        {% include components/card/large.html 
                type="slider"
                img=img_foodtopia
                url="https://work.diogorusso.com/foodtopia" 
                title="Data Mule for Large Farming Operations"
                categories="UX + Product Design" 
        %}

        {% capture img_lpc %}
                {{ site.cdn }}{{ include.version }}work/featured/sync_1.jpg
        {% endcapture %}
        {% include components/card/large.html 
                type="slider"
                url="https://work.diogorusso.com/launchpad" 
                title="Advanced Seed Prescriptions"
                categories="UX + Product Design"  
                img=img_lpc 
        %}
  

  

{% comment %} <div class="row portfolio-title">
        <div class="col-xs-12">
        <h2>Work, Learn & Play</h2>
        <h3>Previous Work</h3>
        </div>
</div> {% endcomment %}

                        {% capture img_foodtopia %}
                                {{ site.cdn }}{{ include.version }}work/featured/cca_3.jpg
                        {% endcapture %}
                        {% include components/card/large.html 
                                type="slider"
                                url="https://work.diogorusso.com/foodtopia" 
                                title="Strategy and Experience Design"
                                categories="MBA Design Strategy at CCA" 
                                img=img_foodtopia 
                        %}
                        

                        {% capture img_foodtopia %}
                                {{ site.cdn }}{{ include.version }}work/featured/br_4.jpg
                        {% endcapture %}
                        {% include components/card/large.html
                                type="slider" 
                                url="https://work.diogorusso.com/foodtopia" 
                                title="Graphics, Interaction & Motion Design"
                                categories="Creative Direction"
                                img=img_foodtopia 
                        %}
                        {% capture img_coca %}
                        {{ site.cdn }}{{ include.version }}work/hero_Artwork_1920-1080.png
                        {% endcapture %}
                        {% include components/card/large.html 
                                url="https://work.diogorusso.com/fwc-2014-conteudo-multimidia-cobertura-coca-cola" 
                                title="Illustration & Artwork" 
                                image=img_coca 
                        %}
        
</div>
