<nav class="aside">
    <div class="nav-wrap">
        <div class="list">
            <h2>
                {{ site.sidebar_title }}
            </h2>
            <ul id="filter" class="filters">
                {% for item in site.sidebar_items %}
                    <li >
                        <a href="{{ item.url }}">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor%}
            </ul>
        </div>
    </div>
</nav>