<aside class="aside">
  <div class="nav-wrap">
    <div id="filter" class="list filters">
      {% if include/title != "" %}
      <h2>
        {{ include.title }}
      </h2>
      {% endif %}
      <ul class="filter-list" data-filter-group="category">
        {% assign list = include.list | split: "| " %} {% for item in list %} {%
        assign item_info = item | split: ", " %} {% if isIsotope == true %}
        <li>
          <a
            class="weight-300"
            href="javascript:void(0)"
            data-filter=".{{item_info[1]}}"
            >{{item_info[0]}}</a
          >
        </li>
        {% else %}
        <li>
          <a class="weight-300" href="{{site.baseurl}}/{{item_info[1]}}"
            >{{item_info[0]}}</a
          >
        </li>
        {% endif %} {% endfor %}
      </ul>
      <a href="{{site.url}}{{site.baseurl}}/journal" style="text-decoration:none;">← journal</a>
      <!-- .subject -->
    </div>
  </div>
</aside>
