<div class="col-xs-12 col-sm-{{include.columns|default:6}}" data-aos="fade-up" data-aos-easing="linear"
     data-aos-duration="500"  data-aos-offset="50">
    <article class="portfolio-item">
        <a href="{{ include.url }}" target="_blank" rel="noopener">
            <div class="card-img card-img-shadow ratio16-9">
                <img class="img-content" src="{% include img/base64/loader.html %}" data-src="{{include.img}}" alt="{{ site.tile }} {{ include.title }} {{ include.categories }}">
                <noscript><img class="img-content" src="{{include.img}}" alt="{{ site.tile }} {{ include.title }} {{ include.categories }}"></noscript>
            </div>
            <div class="content">
                <h3>{{ include.title }}</h3>
                <p>
                    {{ include.categories }}
                </p>
            </div>
        </a>
    </article>
</div>
