<div
  class="col-xs-10 col-sm-{{include.col|default:6}}"
  data-aos="fade-up"
  data-aos-easing="linear"
  data-aos-duration="500"
  data-aos-offset="50"
  style="margin:auto;"
>
  <article class="portfolio-item">
    <a href="{{ include.url }}" target="_blank" rel="noopener">
      <div class="card-img card-img-shadow ratio16-9">
        <img
          class="img-content"
          src="{% include img/base64/loader.html %}"
          data-src="{{include.img}}"
          alt="{{ site.tile }} {{ include.title }} {{ include.categories }}"
        />
        <noscript
          ><img
            class="img-content"
            src="{{include.img}}"
            alt="{{ site.tile }} {{ include.title }} {{ include.categories }}"
        /></noscript>
      </div>
      <div class="content" style="padding-top: 3rem; ">
        <h3 style="margin: 0;font-weight:400">{{ include.title }}</h3>
        <p
          style="
          font-size: 1rem; 
          margin: 1rem 0 3rem;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;"
        >
          {{ include.categories }}
        </p>
      </div>
    </a>
  </article>
</div>
