{% capture col_image %}
  <div class="col-xs-12 col-md-8">
     <img src="{{site.cdn}}work/preloader.svg" data-src="{{ include.image }}">
  </div>
{% endcapture %}

{%capture col_content %}
  {% if include.align == "right" %}
    <div class="col-xs-10 col-md-4 center-xs start-md  col-xs-offset-1 col-md-offset-0" style="z-index:99">
      <div class="floating-wrapper-right">
  {% else %}
    <div class="col-xs-10 col-md-4 center-xs start-md last-xs first-md col-xs-offset-1 col-md-offset-0" style="z-index:99">
      <div class="floating-wrapper-left">
    {% endif %}
      <div class="card floating-content">
        <h2>{{ include.title }}</h2>
        {% if include.categories != %}
          <p class="author">
            <span class="date">{{ include.categories }}</span>
          </p>
        {% endif%}
        {% if include.description != %}
          <div class="content">
            {{ include.description }}
          </div>
        {% endif%}
        {% if include.url != %}
          <a class="button" href="{{ site.baseurl }}{{ include.url }}">
            Read More
          </a>
        {% endif%}
      </div>
    </div>
  </div>
{% endcapture %}

<div class="row middle-sm between-sm crad-special">
  {% if include.align == "right" %}
    {{ col_image }}
    {{ col_content }}
  {% else %}
    {{ col_content }}
    {{ col_image }}
  {% endif %}  
</div>