<!DOCTYPE html>
<html lang="en">
  {% include head/site/_main.html %}
  <body>
    {% include components/containers/nav/nav.html %}
      <div class="sidebar">
        {% include components/containers/sidebar/sidebar.html %}
        <main class="main content">
            {{ content}}
            {% include components/containers/footer/footer.html %}
        </main>
      </div>
	<style>
		{% capture include_to_scssify %}
		{% include main.scss %}
		{% endcapture %}
		{{ include_to_scssify | scssify }}
	</style>  
  <script src="/assets/scripts/{{page.script}}.js" async></script>
  </body>
</html>


