// Variables
@import "variables";
@import "mixins";


//style
@import "typography";
@import "html";

//img
@import "img/img";

// AOS
@import "vendor/aos";

//components

@import "content/bio";


// flexbox grid
@import "vendor/flexboxgrid/flexboxgrid";

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.col-no-gutter {
  padding-left: 0;
  padding-right: 0;
}



//Containers
@import "components/nav";
@import "components/hero";
@import "components/box";
@import "components/sidebar";


// Content
@import "content/process";

// Prototypes
@import "content/prototypes";




