// Variables
@import "scss/variables";
@import "scss/mixins";

//Containers
@import "components/containers/card/card";
@import "components/containers/card/portfolio";

// footer
@import "components/containers/footer/footer";

// Components
@import "components/base/button/button";

// Content
@import "scss/vendor/slick";
@import "components/content/work/climate";
