// Variables
@import "variables";
@import "mixins";

//Containers
@import "components/card/card";
@import "components/card/portfolio";
@import "components/card/card-large-slider";
@import "components/card/text";

// footer
@import "components/footer";

// Components
@import "components/buttons";

// Content
@import "content/climate";
@import "content/work";
@import "content/posts";


.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

.visible, .lazy-hidden{opacity: 1 !important;}
