
// mixins

// vendor prefixes

@mixin vendor-prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
      #{$vendor}#{$name}: #{$value};
    }
  }

// generic transform
@mixin transform($transforms) {
    @include vendor-prefix('transform',$transforms);
}

// translate
@mixin translate ($x,$y) {
    @include transform('translate('+$x+','+$y+')')
}

@mixin translate ($x,$y) {
    @include transform('translate('+$x+','+$y+')')
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}

@include keyframes(bounceArrow) {
    0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(8px);
      }
  }

//  visibility

.hide {
	display:none;
}

.show {
	display:block;
}

.#{'hide-'} {
	// Hide >= XS breakpoint
	&xs {
		@media #{$device-x-small} {
			display:none!important;
		}
	}
	// Hide >= SM breakpoint
	&sm {
		@media #{$device-small} {
			display:none!important;
		}
	}
	// Hide >= MD breakpoint
	&md {
		@media #{$device-medium} {
			display:none!important;
		}
	}
	// Hide >= LG breakpoint
	&lg {
		@media #{$device-large} {
			display:none!important;
		}
	}
}

.#{'show-'} {
	// Show >= XS breakpoint
	&xs {
		@media #{$device-x-small} {
			display:block!important;
		}
	}
	// Show >= SM breakpoint
	&sm {
		@media #{$device-small} {
			display:block!important;
		}
	}
	// Show >= MD breakpoint
	&md {
		@media #{$device-medium} {
			display:block!important;
		}
	}
	// Show >= LG breakpoint
	&lg {
		@media #{$device-large} {
			display:block!important;
		}
	}
}