
h1, h2, h3 {
  font-weight: 400;
  line-height: 1.25;
}


.weight-200{
  font-weight: 200;
}

.weight-300{
  font-weight: 300;
}

.weight-400{
  font-weight: 400;
}

.weight-700{
  font-weight: 700;
}


// h1{
//   font-family:$font-serif;
// }

// h2{
//   font-family:$font-serif;
//   font-size: 1.85rem;
// }

// h3{
//   font-size: 1.35rem;
// }

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: $dark;
  transition: all 200ms;
  text-decoration: underline;
}

// a:hover, a:focus {
  
// }


// p{
//   margin:  0 0 $gutter;
// }

strong, b{
  font-weight: 700;
}

.jumbo{
  font-size:6rem;
  margin:0 0 .5rem; 
  font-style: italic;
  font-weight:700;
}


.title{
  font-size: 3.5rem;
}

.subtitle{
  // font-family: $font-sans-serif;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  margin:0
}
.description{
  font-size: 1.3rem;
}


@media #{$device-medium} {
    .jumbo{
      font-size:4.75rem; 
    }
}

@media #{$device-small} {
  
    .jumbo{
      font-size:4rem;
      line-height: 1; 
      margin-bottom:3rem
    }
    .subtitle{
      font-size: 2rem;
      margin-bottom:3rem;
    }
    .description{font-size: 1.05rem;}
  }





@mixin dropcap($drop-lines, $drop-line-height) {
  $drop-size : $drop-line-height * $drop-lines;
  &::first-letter {
    text-transform: uppercase;
    font-size: #{$drop-size+'em'};
    vertical-align: bottom;
    font-weight:700;
    float: left;
    line-height: 1;
    margin-right: 0.2em;
    margin-left: -0.05em;
    margin-top: 0.1em;
  }
}
.dropcap {
  @include dropcap(2, 1.5);
  
}


.squiggle{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-svg' viewBox='0 0 20 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='black' stroke-width='2' class='st0' d='M0 4c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E");
  border-bottom: none;
  border-top-width: 1px;
  background-position: 0 calc(100% - 2.5px);
  background-size: auto .5rem;
  background-repeat: repeat-x;
  padding-bottom: 32px;
  display: inline-block;
}