<div class="posts">
        <section>
                <div class="row portfolio-title">
        <div class="col-xs-12">
        <h2>Journal </h2>
        <h3>Sometimes I write about design & development</h3>
        </div>
</div>
                <div class="box">
                        <div class="row">
                                <div class="col-xs-12">
                                        <h1></h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-xs-12 col-md-4 col-lg-4" style="min-height:20rem; margin-bottom:2rem">
                                        <div  style="padding:2.5rem; position:relative; border: solid 1px; padding:3rem; height:100%">
                                                <h3 class="post" style="font-size:1.5rem;">Acessibility, Localization and Internationalization Best Practices</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-4" style="min-height:20rem; margin-bottom:2rem">
                                        <div  style="padding:2.5rem; position:relative; border: solid 1px; padding:3rem; height:100%">
                                                <h3 class="post" style="font-size:1.5rem;">UX Research, Storyboarding and Hypothesis Validation</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-4" style="min-height:20rem; margin-bottom:2rem">
                                        <div  style="padding:2.5rem; position:relative; border: solid 1px; padding:3rem; height:100%">
                                                <h3 class="post" style="font-size:1.5rem;">Design Systems, Styleguides and Components Library</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-4" style="min-height:20rem; margin-bottom:2rem">
                                        <div  style="padding:2.5rem; position:relative; border: solid 1px; padding:3rem; height:100%">
                                                <h3 class="post" style="font-size:1.5rem;">Acessibility, Localization and Internationalization Best Practices</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-4" style="min-height:20rem; margin-bottom:2rem">
                                        <div  style="padding:2.5rem; position:relative; border: solid 1px; padding:3rem; height:100%">
                                                <h3 class="post" style="font-size:1.5rem;">UX Research, Storyboarding and Hypothesis Validation</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-4" style="min-height:20rem; margin-bottom:2rem">
                                        <div  style="padding:2.5rem; position:relative; border: solid 1px; padding:3rem; height:100%">
                                                <h3 class="post" style="font-size:1.5rem;">Design Systems, Styleguides and Components Library</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                
                            <div class="more-projects" style="text-align:center;margin:3rem 0 4rem; width:100%">
                              <a href="http://work.diogorusso.com/" class="button">explore all projects</a>
                          </div>    
                                
                </div>
        </section>
</div>