$transition: box-shadow 250ms ease-in-out,
transform 250ms ease-in-out;

.card-wrap{
    padding: 1rem;
}
.card {
    position: relative;
    background: $light;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 25px $mid-light;
    transition: $transition;
    height:100%;

    &:hover {
        transform: translate(0, -20px);
        transition: $transition;
        box-shadow: 0 45px 45px $card-shadow;
        transition: $transition;
    }

    a {
        text-decoration: none;
    }

    h3 {
        margin: 0;
        margin-bottom:1rem;
        font-size: 1.5rem;
    }

    p {
        margin-bottom: $gutter;
    }

    hr {
        margin: calc(#{$gutter} / 2) 0;
    }

    .content {
        padding: calc(#{$gutter} / 2);
    }

    .tag {

        color: #aaa;
        margin-right: .5rem;
    }

    $grayscale:100%;
    $color:0;
    $no-blur:0;
    $blur:100%;
    $saturation:100%;
    $no-saturation:0;

    // img{
    //     -webkit-filter: grayscale($grayscale) blur($no-blur) saturate($saturation);
    //     filter: grayscale($grayscale) blur($no-blur) saturate($saturation);

    //     -webkit-transition:all 0.3s;
    //     -moz-transition:all 0.3s;
    //     -o-transition:all 0.3s;
    //     transition:all 0.3s;
    // }
    // img:hover{
    //     -webkit-filter: grayscale($color) blur($no-blur) saturate($saturation);
    //     filter: grayscale($color) blur($no-blur) saturate($saturation);
    // }
}

.card-link {
    font-size: 1.15rem;
    line-height: 1.75;
    background: $light;

    .icon-link {
        text-align: right;
        color: $mid;
        bottom: 1rem;
        right: 1rem;
        position: absolute;
    }
}


.image-frame {
    width: 100%;
    padding-top: 80%;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
        margin: auto;
        position: absolute;
        top: -100%;
        right: -100%;
        bottom: -100%;
        left: -100%;
    }
}

.truncate {
    flex: 1;

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media #{$device-medium-small} {
    .card{
        h3{
            font-size: 1rem;
        }
    }
}