<div class="row middle-sm between-sm" style="margin-bottom:8rem;">
    <div class="col-xs-12 col-sm-3">
      <h2 style="font-weight:500">{{ include.title }}</h2>
      <p class="author">
        <span class="date">{{ include.categories }}</span>
      </p>
      <div class="content">
        {{ include.description }}
      </div>
      <a href="{{ site.baseurl }}{{ include.url }}" class="button" style="margin: 2rem 0;padding: 1rem 3rem; font-size:1rem; text-decoration:none; color:white;background:black;">Read More</a>
    </div>
    <div class="col-xs-12 col-sm-8">
            <div class="card-large-slider">
                    <div>
                        <img src="{{site.cdn}}work/preloader.svg" data-src="{{ include.image }}">
                    </div>
                    <div>
                            <img src="{{site.cdn}}work/preloader.svg" data-src="{{ include.image }}">
                    </div>
                    <div>
                            <img src="{{site.cdn}}work/preloader.svg" data-src="{{ include.image }}">
                    </div>
                </div>
                
       
    </div>
  </div>