<div class="col-xs-12 col-sm-6">
    <article class="portfolio-item">
        <a href="{{ include.url }}">
            <img src="{% include img/base64/loader.html %}" data-src="{{ site.cdn }}{{ include.version }}work/{{ include.thumb }}" alt="{{ site.tile }} {{ include.title }} {{ include.category }}">
            <noscript><img src="{{ site.cdn }}{{ include.version }}work/{{ include.thumb }}" alt="{{ site.tile }} {{ include.title }} {{ include.category }}"></noscript>
            <div class="content">
                <h3>{{ include.title }}</h3>
                <p>
                    {{ include.category }}
                </p>
            </div>
        </a>
    </article>
</div>
