
.full{
    width: 100%;
    height:100%;
}

@mixin box ($width){
    padding: 0 $gutter;
    height: 100%;
    position: relative;
    width:90%;
    max-width: $width;
    margin: 0 auto;    
}

.box{
    @include box(1440px)    
}

@media #{$device-small} {
    .box{
        padding: 0 1rem;
        width:100%;
    }
}