<nav class="aside">
    <div class="nav-wrap">
        <div class="list">
            <h2>
                Title
            </h2>
            <ul id="filter" class="filters">
                <li >
                    <a href="#">
                        Item
                    </a>
                </li>
                <li >
                    <a href="#">
                        Item
                    </a>
                </li>
                <li >
                    <a href="#">
                        Item
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>