@mixin mastheadAboutBg{ 
  background:
      linear-gradient(
      310deg,
      rgba(241, 4, 4, 0.9), 
      rgba(60, 0, 105, 0.95)
      ), 
      url('https://res.cloudinary.com/diogorusso/image/upload/v1525651425/about/cover.png')repeat
  ;    
}

@mixin mastheadAboutBgSmall{ 
  background: 
  linear-gradient(
    310deg,
    rgba(241, 4, 4, 0.85), 
    rgba(60, 0, 105, 0.9)
    )200%, 
    url('https://res.cloudinary.com/diogorusso/image/upload/v1525651425/about/cover-sm.png') repeat
; 
}




.masthead{
  height:100vh;
  width: 100%; 
  display: flex;
  color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
  background:$dark;
  z-index: 1;

  .masthead-wrap{
    padding: 0 1rem;
    opacity: .8;
    max-width: 575px;

  }
  a{
    color: $light;
    text-decoration: none;
  }
  h1{
    font-size: 3rem;
  }

  h2{
    font-family: $font-sans-serif;
    font-size: 2.2rem;
    font-weight: 200;
  }
  h3{
    font-size: 1.5rem;
    color: #dbdbdb;
  }
}

#scroll-arrow {
  width: 14px;
  display: block;
  margin: 10px auto;
  font-size:2.5rem;
  animation: bounceArrow .35s ease-in alternate infinite;
}

.arrow-wrap{
  position:absolute; 
  bottom:10%; 
  left:50%; 
  @include translate(-50%, 0);
  z-index: 3;
}

.center-content{
  width:75%;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 40%;
  @include translate(-50%, -50%);
}


@media #{$device-small} {
  .masthead{
    // @include mastheadAboutBgSmall;
    text-align: center;
    h1{
      font-size: 1.75rem;
    }
  
    h2{
      font-size: 1.3rem;
      font-weight: 300;
    }
    h3{
      font-size: 1.2rem;
    }
  }

  .arrow-wrap{
    position:absolute; 
    bottom:18%; 
    left:50%; 
    @include translate(-50%, 0);
  }
  .center-content{
    width:95%;
    top:40%;
  }
}


@media #{$device-small-landscape} {
  .center-content{
    width:70%;
    top:45%;
  }
  .masthead{
    text-align: center;
    h1{
      font-size: 1.5rem;
    }
  
    h2{
      font-size: 1.1rem;
    }
  }
  .arrow-wrap{
    position:absolute; 
    bottom:2.15rem; 
  }

}
