<header class="masthead">
    <div class="masthead-wrap center-content">
        <a href="#{{ include.anchor }}" class="page-scroll">
            <h1>
                {{ include.title }}
                <br class="show-for-small-only">
            </h1>
            <h2>
                {{ include.subtitle }}
            </h2>
            {% if include.legend %}
            <h3>
                {{ include.legend }}
            </h3>
            {% endif %}
        </a>
    </div>
    <div class="arrow-wrap"> 
        <a href="#{{ include.anchor }}" class="page-scroll">
            <span id="scroll-arrow">👇</span>
        </a>
    </div>
</header>