@mixin AboutBg{ 
  background:
      linear-gradient(
      310deg,
      rgba(241, 4, 4, 0.9), 
      rgba(60, 0, 105, 0.95)
      ), 
      url('https://res.cloudinary.com/diogorusso/image/upload/v1525651425/about/cover.png')repeat
  ;    
}

@mixin AboutBgSmall{ 
  background: 
  linear-gradient(
    310deg,
    rgba(241, 4, 4, 0.85), 
    rgba(60, 0, 105, 0.9)
    )200%, 
    url('https://res.cloudinary.com/diogorusso/image/upload/v1525651425/about/cover-sm.png') repeat
; 
}


.bg-dark{
  background:$dark;
  // @include AboutBg();
}

.bg-light{
  background:$light;
}

.txt-light{
  color:#c1c1c1;
  // color: $light;
}

.txt-center{
  text-align: center;
}

.txt-left{
  text-align: left;
}

.masthead{
  height:100vh;
  // width: 100%; 
  // display: flex;
  // overflow: hidden;
  // position: relative;
  z-index: 1;

  // .masthead-wrap{
  //   padding: 0 1rem;
  //   max-width: 575px;

  // }

  // .masthead-wrap-large{
  //   padding: 0 1rem;
  //   max-width: 655px;

  // }
  
  a{
    text-decoration: none;
  }
  
}

.masthead-content{
  max-width:620px;
}

#scroll-arrow {
  width: 14px;
  display: block;
  margin: 10px auto;
  font-size:2.5rem;
  animation: bounceArrow .35s ease-in alternate infinite;
}

.arrow-wrap{
  position:absolute; 
  bottom:10%; 
  left:50%; 
  @include translate(-50%, 0);
  z-index: 3;
}

// .center-content{
//   width:75%;
//   z-index: 2;
//   position: absolute;
//   left: 50%;
//   top: 45%;
//   @include translate(-50%, -50%);
// }




@media #{$device-small} {
  .masthead{
    height: auto;
    // text-align: center;
    padding:7rem 0;

    // h2{
    //   font-size: 3rem;
    //   font-weight: 200;
    //   margin: 3rem auto;
    // }
    // h3{
    //   font-size: 1.5rem;
    //   max-width: 24rem;
    //   margin: auto;
    // }
  }

  .arrow-wrap{
    position:absolute; 
    bottom:18%; 
    left:50%; 
    @include translate(-50%, 0);
  }
  .center-content{
    position: relative;
    transform: none;
    width:95%;
    top:45%;
    left:0;
    margin: 6rem auto 9rem;
  }
}


.header-animation {
  position: relative;
  overflow: hidden;

  .anima {
  
    animation: fadeIn 0 1s;
    animation-fill-mode: backwards;
  }
  
  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $light;
    transform: translateX(-100%);
    animation: secondaryImageOverlayIn 0.6s 0s, secondaryImageOverlayOut 0.6s 0.6s;
    animation-fill-mode: both;
    padding-left: 1px;
  }
  
}

.header-animation-2 {
  position: relative;
  overflow: hidden;

  .anima-2 {
    animation: fadeIn 0.2s .8s;
    animation-fill-mode: backwards;
  }
  
  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:$light;
    // background: linear-gradient(
    //     to bottom, 
    //     #e81123,     //red
    //     #e81123 17%, //red
    //     #f7941d 17%, //orange
    //     #f7941d 34%, //orange
    //     #fff100 34%, //yellow
    //     #fff100 51%, //yellow
    //     #00a650 51%, //green
    //     #00a650 68%, //green
    //     #0054a5 68%, //blue
    //     #0054a5 85%, //blue
    //     #672d93 85%, //purple
    //     #672d93      //purple
    // );
    transform: translateX(-100%);
    animation: secondaryImageOverlayIn 0.8s 0s, secondaryImageOverlayOut 0.8s 0.8s;
    animation-fill-mode: both;
    padding-left: 1px;
  }
  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secondaryImageOverlayIn {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes secondaryImageOverlayOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}




/* HERO BG ANIMATED */

.hero {
  background-color: $dark;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.hero__title {
  color: $light;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px darken(#ccc, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  
  &:nth-child(2n) {
    border-color: lighten(#ccc, 10%);
  }
  
  &:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  
  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  
  &:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  
  &:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  
  &:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);   
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%); 
    opacity: 0;
  }
}

/* FLOATING HERO */





@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

@-webkit-keyframes heroImg {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.9);
		transform: scale(0.9)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes heroImg {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.9);
		transform: scale(0.9)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(120px);
		transform: translateY(120px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px)
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(120px);
		transform: translateY(120px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px)
	}
}

@-webkit-keyframes float {
	0% {
		-webkit-transform: translateY(10px) rotate3d(0, 0, 0, 0deg);
		transform: translateY(10px) rotate3d(0, 0, 0, 0deg)
	}
	to {
		-webkit-transform: translateY(-10px) rotate3d(0, 0, 0, 0deg);
		transform: translateY(-10px) rotate3d(0, 0, 0, 0deg)
	}
}

@keyframes float {
	0% {
		-webkit-transform: translateY(10px) rotate3d(0, 0, 0, 0deg);
		transform: translateY(10px) rotate3d(0, 0, 0, 0deg)
	}
	to {
		-webkit-transform: translateY(-10px) rotate3d(0, 0, 0, 0deg);
		transform: translateY(-10px) rotate3d(0, 0, 0, 0deg)
	}
}


.img-container img {
	width: 100%;
	height: 100%
}

.video-container video {
	width: 100%;
	height: 100%
}



@mixin imgpreset {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
	margin: 0;
	padding: 0;
}


.floating-images {
	position: relative;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	will-change: opacity, transform;

	animation-name: heroImg;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-delay: .5s;

	&__container {
		height: 360px;

		@media only screen and (max-width: 900px) {
			height: 570px;
		}
	}

	@media only screen and (max-width: 400px) {
		width: 360px;
	}

	@media only screen and (max-width: 900px) {
		width: 550px;
	}

	@media only screen and (max-width: 1200px) {
		width: 530px;
	}
}

ul{
  list-style-type:none;
}

.floating-image .image {
	@include imgpreset;
	width: 100%;
	height: 100%;
}

.floating-image {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
	border-radius: 4px;
	will-change: transform;
}

@mixin floating-image-size($img-width) {
	$width: $img-width;
	width: $width;
	height: $width * 0.75;
}

.floating-image {
	&:nth-child(1) {
		@include floating-image-size(45px);
		left: auto;
		right: 40px;
		top: 0;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		filter: blur(2px);

		@media only screen and (max-width: 400px) {
			@include floating-image-size(50px);
			left: auto;
			right: 47px;
		}

		@media only screen and (max-width: 900px) {
			@include floating-image-size(70px);
			top: 0;
			right: 70;
			left: auto;
		}
	}

	&:nth-child(2) {
		@include floating-image-size(65px);
		left: auto;
		right: 120px;
		top: 5px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -5s;
		filter: blur(2px);

		@media only screen and (max-width: 400px) {
			@include floating-image-size(70px);
			left: auto;
			right: 134px;
		}

		@media only screen and (max-width: 900px){
			@include floating-image-size(100px);
			top: 7px;
			right: 205px;
			left: auto;
		}
	}

	&:nth-child(3) {
		@include floating-image-size(78px);
		left: auto;
		right: 20px;
		top: 70px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -3s;
		filter: blur(2px);

		@media only screen and (max-width: 400px) {
			@include floating-image-size(83px);
			left: auto;
			right: 30px;
			top: 60px;
		}

		@media only screen and (max-width: 9 00px){
			@include floating-image-size(120px);
			top: 93px;
			right: 40px;
			left: auto;
		}
	}

	&:nth-child(4) {
		@include floating-image-size(98px);
		left: auto;
		right: 0px;
		top: 264px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -4.5s;

		@media only screen and (max-width: 400px) {
			@include floating-image-size(103px);
			right: 10px;
		}

		@media only screen and (max-width: 900px) {
			@include floating-image-size(150px);
			left: auto;
			right: 0;
			top: 376px;
		}
	}

	&:nth-child(5) {
		@include floating-image-size(60px);
		left: 30px;
		right: auto;
		top: 347px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -1.8s;
		filter: blur(2px);

		@media only screen and (max-width: 400px) {
			@include floating-image-size(65px);
			top: 347px;
		}

		@media only screen and (max-width: 900px) {
			@include floating-image-size(90px);
			top: 504px;
			left: 75px;
			right: auto;
		}
	}

	&:nth-child(6) {
		@include floating-image-size(98px);
		left: auto;
		right: 60px;
		top: 25px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -1.6s;

		@media only screen and (max-width: 400px) {
			@include floating-image-size(103px);
			left: auto;
			right: 60px;
			top: 30px;
		}

		@media only screen and (max-width: 900px) {
			@include floating-image-size(150px);
			top: 37px;
			left: auto;
			right: 95px;
		}
	}

	&:nth-child(7) {
		@include floating-image-size(124px);
		left: 10px;
		right: auto;
		top: 144px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -3.6s;

		@media only screen and (max-width: 400px) {
			@include floating-image-size(129px);
			left: 30px;
			right: auto;
			top: 144px;
		}

		@media only screen and (max-width: 900px) {
			@include floating-image-size(190px);
			left: 45px;
			right: auto;
			top: 222px;
		}
	}

	&:nth-child(8) {
		@include floating-image-size(130px);
		left: 60px;
		right: auto;
		top: 272px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -5.6s;

		@media only screen and (max-width: 400px) {
			@include floating-image-size(135px);
			left: 60px;
			top: 272px;
		}

		@media only screen and (max-width: 400px) {
			@include floating-image-size(200px);
			top: 388px;
			left: auto;
			right: 210px;
		}
	}

	&:nth-child(9) {
		@include floating-image-size(118px);
		left: 90px;
		right: auto;
		top: 90px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -0.6s;

		@media only screen and (max-width: 400px) {
			@include floating-image-size(123px);
			left: 90px;
			top: 90px;
		}

		@media only screen and (max-width: 400px) {
			@include floating-image-size(180px);
			top: 123px;
			left: 145px;
			right: auto;
		}
	}

	&:nth-child(10) {
		@include floating-image-size(156px);
		left: auto;
		right: 40px;
		top: 170px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -6.6s;

		@media only screen and (max-width: 400px) {
			@include floating-image-size(161px);
			left: auto;
			top: 160px;
			right: 40px;
		}

		@media only screen and (max-width: 900px) {
			@include floating-image-size(240px);
			top: 232px;
			right: 40px;
			left: auto;
		}
	}

	&:nth-child(11) {
		@include floating-image-size(130px);
		left: 0px;
		right: auto;
		top: 10px;
		transition: .3s;
		animation: float 6s alternate infinite ease-in-out;
		animation-delay: -2.6s;

		@media only screen and (max-width: 400px) {
			@include floating-image-size(135px);
			left: 0px;
			top: 10px;
		}

		@media only screen and (max-width: 900px) {
			@include floating-image-size(200px);
			top: 18px;
			left: 0;
		}
	}
}





