
<div class="portfolio-title">
        <h2>Work & Play</h2>
        <h3>I'm an an optimist dedicated to help bringing projects to life.I have fun making things and sharing ideas.</h3>
</div>
        
<div id="behance-magix" class="row">
        <!-- insert some HTML via magic JS -->
        <!-- this shows something here even if JS doesn't load -->
        <img src="https://unsplash.it/1200/600/?random" />
        <p>This will be erased when javascript draws our new content. But, you can also put other things here incase the behance API is down or for some other reason the javascript doesn't run/load.</p>
        {%raw%}
        <script id="project-cards" type="text/template">
                {{#projects}}
                <div class="col-xs-12 col-sm-6 card-wrap">
                        <article class="card">
                                <a href="{{url}}" id="b{{id}}" target="_blank">
                                <div class="image-frame">
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWl
        naHQ9IjEwODAiIHZpZXdCb3g9IjAgMCAxOTIwIDEwODAiPgogIDxyZWN0IHdpZHRoPSIxOTIwIi
        BoZWlnaHQ9IjEwODAiIHg9IjI3MyIgeT0iNDQyIiBmaWxsPSIjRjNGM0YzIiBmaWxsLXJ1bGU9I
        mV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yNzMgLTQ0MikiLz4KPC9zdmc+Cg==" data-src="{{covers.404}}" alt="{{name}}">
                <noscript><img src="{{ site.cdn }}work/{{ include.thumb }}" alt="{{ site.tile }} {{ include.title }} {{ include.category }}"></noscript>
                                </div>
                                <div class="content">
                                        <h3>{{name}}</h3>
                                        <small>
                                        {{#fields}}
                                        <span class="tag">{{ . }}</span>
                                        {{/fields}}
                                        </small>
                                </div>
                                </a>
                        </article>
                </div>
                {{/projects}}
                </script>
        {%endraw%}
</div>
<div class="more-projects">
        <h2>Want to See More?</h2>
        <a href="{{ site.baseurl}}/design/" class="button">view my work</a>
</div>
